
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header rules */

/* header background */


header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    background-color:#3160e0
   
}

.container-header{
    display: flex;
    width:60%;
    align-items: center;
    padding:0;

}




.unordered-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none ;
    width:50%;
    height:100%;
    
    
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

   
}

.list{
    display: flex;
    padding:5px;
    
}

a{
    color: white;
    text-decoration:none;

}

.logo {
    display: flex;
    width:10%;
    padding:15px;
    height:200%;
    background-image: url(file:///C:/Users/sarab/AppData/Local/Temp/Rar$DIa9032.4169/logo.svg);
    flex-basis:20%;
    
}


.button-white{
    padding:10px;
    border-radius: 99999px;
    border:none;
    background-color: white;
    color: black;
}

/* jumbotron blue */

#jumbotron{
    display: flex;
    height:500px;
    justify-content: center;
    padding:40px;
    background-image: url(../IMG/jumbo.png);
    background-size: cover;
    align-items: center;
}

.hero{
    text-align: center;
    flex-basis: 60%;
    
}


   .h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: :80px;
    
   }

.p1{
    color: white;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.lower-button{
    font-size: 15px;
    border-radius: 9999px;
    padding:10px 10px;
    margin:20px;
}


.button-black{
    background-color: black;
    color:white

}
    
/* main part with first img */

#white-container{
    display: flex;
    background-color: white;
    height:300px;
    justify-content: center;
    padding:40px; 
}

.light-blue{
    flex-basis:40%;
      

}

.img{
    height:300px;
}
    
#pink-uno{
    flex-basis:20%;
    line-height: 25px;
    
}
    /* grey container */

#grey-container{
    display: flex;
    height:300px;
    justify-content: center;
    padding:40px; 
}

#pink-due{
    flex-basis:25%;
    line-height:25px;
  
}

.light-blue{
    
    flex-basis:20%;
    
}

.img{
 height:300px;
}

#second-white-container{
    display: flex;
    background-color: white;
    height:300px;
    justify-content: center;
    padding:40px; 
}


.light-blue{
    
    flex-basis:40%;
    padding:10px;


}

.img{
    height:300px;
}

#pink-tre{
    flex-basis:20%;
    line-height: 25px;
    padding:20px;
    
}

/* second grey container */
#second-grey-container{
    display: flex;
    height:500px;
    justify-content: center;
    padding:40px;
    margin:50px;

}

#green{
    flex-basis:60%;
    
}

.img-quarta{
    height:300px;
}

.button-lightblue{
    background-color:#8ea2e0;
    color:white;
}

/* black container */
#black-container{
    background-color: black;
    display: flex;
    height:500px;
    justify-content: center;
    padding:40px;
    
}

#salmon{
background-color: salmon;
flex-basis: 20%;
border:2px dashed black;
}

.turqoise{
    background-color: turquoise;
    flex-basis: 10%;
    border:2px dashed black;

}


/* bigger coontainer */
.bigger-container{
    display: flex;
    background-color: black;
    margin-top:2px;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    
}

.acquamarine-container{
    display: flex;
    background-color: aquamarine;
    height:50px;
    flex-basis:60%;
    justify-content: space-between;
    align-items: center;
      
}


.boxes{
    background-color: pink;
    border:2px dashed black;
    flex-basis: 10%;

}




